[req]
default_bits                   = 2048
default_md                     = sha256
default_keyfile                = pg-proxy-rootCA.key
distinguished_name             = req_distinguished_name
x509_extensions                = v3_user
prompt                         = no

[req_distinguished_name]
countryName                    = KR
stateOrProvinceName            = Seoul
localityName                   = Seoul
organizationName               = PacketGo Service
organizationalUnitName         = Pribit Dev
commonName                     = PacketGo.Signed.Ftp.CA
# commonName                    = 10.21.214.1
emailAddress                   = developer@pribit.com

[v3_user]
# Extensions to add to a certificate request
basicConstraints               = CA:FALSE
subjectKeyIdentifier           = hash
authorityKeyIdentifier         = keyid,issuer
keyUsage                       = digitalSignature,nonRepudiation,keyEncipherment,dataEncipherment,keyAgreement,keyCertSign
# Extended Key Usage (EKU) field for SSL
extendedKeyUsage               = serverAuth
subjectAltName                 = @alt_names

[alt_names]
#DNS.1 = localhost
#IP.1 = 127.0.0.1
DNS.1 = PacketGo Root-Signed Certificate
#IP.1 = 10.21.214.1

